html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    padding: 0;
    background-color: aqua;
}

#main {
    width: 1200px;
    height: 800px;
    background-color: blue;
    margin-left: 160px;
}

#A {
    width: inherit;
    height: 590px;
    background: red;
    background-image: url(../img/ba.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.p1 {
    color: white;
    float: left;
    position: relative;
    top: -77px;
    left: 87px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.p2 {
    color: white;
    float: left;
    font-size: 15px;
    position: relative;
    top: -52px;
    left: 188px;
    margin-left: 10px;
    margin-right: 10px;
}

.icon {
    color: white;
    float: left;
    font-size: 15px;
    position: relative;
    top: -37px;
    left: 340px;
    margin-left: 10px;
}

.span {
    color: white;
    max-width: 481px;
    font-size: 14px;
    position: absolute;
    top: 265px;
    left: 523px;
    text-align: center;
}

.p3 {
    color: white;
    font-size: 20px;

    position: relative;
    position: relative;
    top: 60px;
    left: calc(50% - 770px);
    display: inline-block;
}

.p4 {
    font-family: 'Dancing Script', cursive;
    color: white;
    position: absolute;
    top: 170px;
    left: 586px;
    font-size: 35px;
}

#up {
    width: inherit;
    height: 70px;
    background: black;
    opacity: 0.2;
    position: relative;
}

#div {
    width: 100%;
    min-height: 800px;
    background-color: white;
    float: left;
    position: relative;
}


#down {
    width: 113px;
    color: black;
    height: 90px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top: -30px;
    left: calc(50% - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999999999999999999999999
}

#left {
    width: 96px;
    height: 50px;
    background: white;
    border-radius: 50px;
    position: absolute;
    transform: rotate(150deg);
    top: -4px;
    left: calc(50% - 116px);
}

#right {
    width: 96px;
    height: 50px;
    background: white;
    border-radius: 235px;
    position: absolute;
    transform: rotate(210deg);
    top: -6px;
    left: calc(50% - 9px);

}

#center {
    width: 100%;
    min-height: 800px;
    padding: 50px;
    box-sizing: border-box;
    position: relative;
    padding-top: 30px;
}

#img1 {
    width: 350px;
    height: 300px;
    background-image: url(../img/sekil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

#img2 {
    width: 350px;
    height: 300px;
    background-image: url(../img/jan.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 420px;
}

#img3 {
    width: 350px;
    height: 300px;
    background-image: url(../img/lan.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 790px;
}

#img4 {
    width: 350px;
    height: 300px;
    background-image: url(../img/1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 450px;
}

#img5 {
    width: 350px;
    height: 300px;
    background-image: url(../img/2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 450px;
    left: 420px;
}

#img6 {
    width: 350px;
    height: 300px;
    background-image: url(../img/3.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 450px;
    left: 790px;
}




.ets {
    width: 74px;
    border-radius: 50px;
    height: 75px;
    background: grey;
    position: absolute;
    top: 310px;
    left: 710px;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;

}

button {
    width: 60px;
    height: 60px;
    background-color: white;
    color: blueviolet;
    border-radius: 100%;
}